/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li { margin-bottom: 0; display: block;}
form.formtastic fieldset > ol > li label { display: block; width:100%; padding-top: 0; }
form.formtastic fieldset > ol > li > li label { line-height:1.5em; padding-top:0; }
form.formtastic fieldset > ol > li > li label input { line-height:1.5em; vertical-align:inherit;}
form.formtastic fieldset > ol > li.boolean label { display: inline-block; padding-top: 0; }
form.formtastic fieldset > ol > li.boolean label input { display: inline-block; margin-right:0.5em; }
form.formtastic fieldset.buttons { padding: 0; display: block; }
form.formtastic fieldset > ol > li.string input { max-width: 20em; }
form.formtastic fieldset > ol > li.password input { max-width: 20em; }
form.formtastic fieldset > ol > li.numeric input { max-width: 20em; }
form.formtastic .error { background-color: #fafafa; color: #729fcf }
form.formtastic fieldset > ol > li p.inline-errors { color:#729fcf; margin:0; }
form.formtastic fieldset > ol > li ul.errors { color:#729fcf; margin:0; }


form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.time fieldset ol li,
form.formtastic fieldset > ol > li.datetime fieldset ol li { width:auto; margin:0; display: inline-block;}

form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.time fieldset ol li label,
form.formtastic fieldset > ol > li.datetime fieldset ol li label { display:inline-block; }


