body {
  background-color: #eeeeec;
}

#header{
  background-color: #2e3436;
  width: 100%;
  color: #fafafa;
  height: 4.5em;
}

#header #title {
  font-size: 3em;
  line-height: 1.5em;
  font-weight: bold;
}

.navigation {
  float: right;
  margin-top: 1.5em;
  margin-right: 1em;
}

.navigation li {
  display: inline-block;
  font-size:1.43em;
  line-height:1.05em;
  margin-left: .525em;
  margin-right: .525em;
}

.navigation li a {
  font-weight: bold;
  text-decoration: none;
  color: #fafafa;
}

.navigation li a:hover {
  color: #729fcf;
}

#navlist {
  background-color: #729fcf;
}

#navlist a {
  color: #fafafa;
}

#navlist a:hover {
  color: #2e3436;
}

#navbar {
  background-color: #555753;
  color: #fafafa;
  width: 100%;
  height: 1.5em;
}
 
.round {
  -moz-border-radius: .618em;
  -webkit-border-radius: .618em;
  border-radius: .618em;
}

.round-bottom {
  -moz-border-radius-bottomleft: .618em;
  -moz-border-radius-bottomright: .618em;
  -webkit-border-bottom-left-radius: .618em;
  -webkit-border-bottom-right-radius: .618em;
}

#content {
  background-color: #fafafa;
  border: 1px #888a85 solid;
  border-top: 0;
}

#content a { color: #2e3436; }
#content a:hover { color: #729fcf; }
ul{
  margin-left: 1.25em;
  margin-right: 1.25em;
}
p {
  margin: 0;
}

ul { list-style: solid; }


.flash {
  text-align:center;
  margin-bottom: 0;
}

.notice, .error {
  color: #fafafa;
  padding: 0 0.75em;
  width: auto;
}

.error { background-color: #2e3436; }
.notice { background-color: #729fcf; }

th {
  text-align: center;
  font-weight: bold;
  padding: 0 0.75em;
}

td {
  border: 1px #d3d7cf solid;
  color: #555753;
  padding: 0 0.75em;
  font-size: 0.8em;
  line-height: 1.875em;
}
