<div class="row">
  <div class="column width-12">
    <h2>Welcome!</h2>
    <p>The Network Operations website is designed to help you maintain the Washington University Medical School network database. I hope you enjoy this demonstration of the future web application to come</p>
    <h4>How do I get an account?</h4>
    <p>Email the site administrator and you can get a client or staff account</p>
  </div>
</div>
