<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>NOC</title>
  <%= render :partial => 'layouts/stylesheets' %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="column width-12"><%= yield %></div>
  </div>
</div>
</body>
</html>
